body, input {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}

pre, code {
  font-family: 'DM Mono', monospace;
  font-size: 0.85rem;
}

